<!DOCTYPE html>
<html>
    <head>
        <title>提现</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
    </head>
    <body>
        <div class="zd-top zd-top2">
            <p class="zdbg"><img src="RESOURCE_SITE_URL/mobile/images/zdtop-bg2.jpg" width="94% " height="12" /></p>
            <div class="neir neir2">
                <p class="zzj">可提现金额</p>
                <p class="qianshu qianshu2"><{$user_info.available_predeposit|glzh_price_format}><span>&nbsp;&nbsp;&nbsp;元</span></p>
            </div>
        </div>
        <p class="zdbt">现金提现</p>
        <form id="field">
            <div class="form">
                <div class="form-item"><label>提现账户:</label><input type="text" name="pdc_user_name" value="" placeholder="微信实名认证姓名" /></div>
                <div class="form-item"><label>提现金额:</label><input type="number" name="pdc_amount" placeholder="本次最多提现<{$amount_limit|number_format=2}>元" data-max-amount="<{$amount_limit}>" /></div>
                <div class="form-tips">提现金额将自动存入微信零钱中</div>
            </div>
        </form>
        <div class="btn_area">
            <a href="javascript:;" class="btn btn-block btn-blue btn-next">确认</a>
        </div>
        <include file="Public/footer" />
        <script type="text/javascript" src="RESOURCE_SITE_URL/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/vendor/layer/layer.js"></script>
        <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/mobile/js/jquery.wechat.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/mobile/js/media.js"></script>
        <script>
            $(document).ready(function () {
                $('input[name=pdc_amount]').val('');
                $('.btn-next').click(function () {
                    var t = $(this);
                    try {
                        if (t.is('.disabled')) {
                            return false;
                        } else {
                            t.addClass('disabled');
                        }
                        params = serialize();

                        if (!chkAll(params)) {
                            t.removeClass('disabled');
                            return;
                        }

                    } catch (e) {
                        alert('页面错误');
                        return false;
                    }
                    
                    $.ajax({
                        type: 'POST',
                        url: '/predeposit/cash',
                        data: params,
                        dataType: 'json',
                        success: function (res) {
                            if (res.code == 1) {
                                window.location.replace('/predeposit/cash_ok.html');
                            } else {
                                layer.open({
                                    content: '提现失败，请稍后重试！',
                                    btn: ['确认']
                                });
                                t.removeClass('disabled');
                                return false;
                            }
                        }
                    })
                });
            })

            function chkAll(o)
            {

                if ($.trim(o.pdc_user_name) === '') {
                    layer.open({
                        content: '请输入真实姓名',
                        btn: ['确认']
                    });
                    return false;
                }

                if ($.trim(o.pdc_amount) === '') {
                    layer.open({
                        content: '请输入提现金额',
                        btn: ['确认']
                    });
                    return false;
                }
                /* 金额计算 */
                var avAmount = ($('input[name=pdc_amount]').data('max-amount') - 0).toFixed(2) - 0;
                var pdc_amount = parseFloat(o.pdc_amount);
                if (pdc_amount < 1) {
                    layer.open({
                        content: '提现金额不能少于1元',
                        btn: ['确认']
                    });
                    return false;
                }
                if (pdc_amount > avAmount) {
                    layer.open({
                        style: 'width:220px;',
                        content: '提现金额超限',
                        btn: ['确认']
                    });
                    return false;
                }
                return true;
            }

            function serialize() {
                var paramsArrs = $('#field').serializeArray(),
                        params = {};

                $.each(paramsArrs, function (i, n) {
                    var nn = n['name'],
                            nv = n['value'];
                    params[nn] = nv;
                });

                return params;
            }
        </script>   
    </body>
</html>
