<!DOCTYPE html>
<html>
    <head>
        <title>提现</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
    </head>
    <body>
        <div class="zd-top zd-top2">
            <p class="zdbg"><img src="RESOURCE_SITE_URL/mobile/images/zdtop-bg2.jpg" width="94% " height="12" /></p>
            <div class="neir neir2">
                <p class="zzj">可提现金额</p>
                <p class="qianshu qianshu2"><{$user_info.available_predeposit|glzh_price_format}><span>&nbsp;&nbsp;&nbsp;元</span></p>
            </div>
        </div>

        <p class="zdbt">账单明细</p>
        <form id="field" action="__SELF__" method="post">
        <div class="ml">
            <p class="xm">提现账户：<span><input type="text" name="pdc_user_name" value="" placeholder="微信实名认证姓名" /></span></p>
            <p class="sjh">提现金额:<span><input type="number" name="pdc_amount" placeholder="本次最多提现<{$amount_limit|number_format=2}>元" data-max-amount="<{$amount_limit}>" /></span></p>
            <p class="ts">提现金额将自动存入微信零钱中</p>
        </div>
        </form>
        <a href="#" class="qr btn-next">确认</a>

        <ul class="footer guding">
            <li><a href="#">首页</a></li>
            <li class="margin"><a href="#">会员中心</a></li>
            <li><a href="#">帮助</a></li>
        </ul>

        <script>
            function onBridgeReady() {
                WeixinJSBridge.call('hideOptionMenu');
            }
            if (typeof WeixinJSBridge == "undefined") {
                if (document.addEventListener) {
                    document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                } else if (document.attachEvent) {
                    document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                    document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                }
            } else {
                onBridgeReady();
            }
        </script>
        <script src="RESOURCE_SITE_URL/js/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $('input[name=pdc_amount]').val('');
                $('.btn-next').click(function () {
                    try {
                        var t = $(this);
                        if (t.is('.disabled')) {
                            return false;
                        } else {
                            t.addClass('disabled');
                        }
                        params = serialize();

                        if (!chkAll(params)) {
                            t.removeClass('disabled');
                            return;
                        }

                    } catch (e) {
                        alert('页面错误');
                    }
                    console.log(params);
                    $('#field').submit();
                });
            })

            function chkAll(o)
            {

                if ($.trim(o.pdc_user_name) === '') {
                    alert('请输入真实姓名');
                    return false;
                }

                if ($.trim(o.pdc_amount) === '') {
                    alert('请输入提现金额');
                    return false;
                }
                /* 金额计算 */
                var avAmount = ($('input[name=pdc_amount]').data('max-amount') - 0).toFixed(2) - 0;
                var pdc_amount = parseFloat(o.pdc_amount);
                if (pdc_amount < 1) {
                    alert('提现金额不能少于1元');
                    return false;
                }
                if (pdc_amount > avAmount) {
                    alert('提现金额超限');
                    return false;
                }
                return true;
            }

            function serialize() {
                var paramsArrs = $('#field').serializeArray(),
                        params = {};

                $.each(paramsArrs, function (i, n) {
                    var nn = n['name'],
                            nv = n['value'];
                    //alert(nn+'=>'+nv);
                    params[nn] = nv;
                });

                return params;
            }
        </script>   
    </body>
</html>
