<!DOCTYPE html>
<html>
    <head>
        <title>提现详情</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
        <script src="RESOURCE_SITE_URL/js/jquery.min.js"></script>
    </head>
    <body>
        <div class="tixian">
            <p><img src="RESOURCE_SITE_URL/mobile/images/dui.jpg" width="65" height="65" /></p>
            <p class="hei">提现成功</p>
            <p class="tishi">提现金额已存入到您的微信零钱中</p>
            <a class="btn btn-block btn-blue btn-return" href="javascript:window.history.back();">返回</a>
        </div>
        
        
        
        <include file="Public/footer" />
    </body>
</html>

