<!DOCTYPE html>
<html>
    <head>
        <title>提示</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
    </head>
    <body>
        <div class="ui-msg">
            <div class="icon_area"><img src="RESOURCE_SITE_URL/mobile/images/dui.jpg" width="65" height="65" /></div>
            <div class="text_area">
                <h2 class="msg_title">提现成功</h2>
                <p class="msg_desc">提现金额已存入到您的微信零钱中</p>
            </div>
            <div class="btn_area">
                <a class="btn btn-block btn-blue btn-return" href="javascript:window.history.back();">返回</a>
            </div>
        </div>
    </body>
</html>
