<!DOCTYPE html>
<html>
    <head>
        <title>提现详情</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
    </head>
    <body>
        <ul class="tixian">
            <li><img src="RESOURCE_SITE_URL/mobile/images/dui.jpg" width="65" height="65" /></li>
            <li class="hei">提现成功</li>
            <li class="tishi">提现金额已存入到您的微信零钱中</li>
        </ul>

        <div class="btn"><a href="javascript:window.history.back();">返回</a></div>

        <ul class="footer guding">
            <li><a href="#">首页</a></li>
            <li class="margin"><a href="#">会员中心</a></li>
            <li><a href="#">帮助</a></li>
        </ul>
    </body>
</html>

