<!DOCTYPE html>
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <head>
        <link rel="stylesheet" type="text/css" href="RESOURCE_SITE_URL/admin/css/themes/default/easyui.css">
        <!-- <link rel="stylesheet" href="/css/tooltip-form-style.css"></link> -->
        <link rel="stylesheet" href="RESOURCE_SITE_URL/admin/css/css.css"></link>
        <link rel="stylesheet" type="text/css" href="RESOURCE_SITE_URL/admin/css/themes/icon.css"> 
        <script type="text/javascript" src="RESOURCE_SITE_URL/admin/js/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/admin/js/jquery.easyui.minold.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/admin/js/jquery.form.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/admin/js/easyui-lang-zh_CN.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/admin/js/datetimeUtil.js"></script>
        
        <script type="text/javascript" src="RESOURCE_SITE_URL/admin/js/formatter.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/admin/js/functions.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/admin/js/easyui.getdata.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/admin/js/userList.js"></script>
    </head>
    <body> 
        <div class="easyui-layout" data-options="fit:true" id="td">
            <div data-options="region:'north'" style="padding:5px;height:70px">
                <fieldset style="border-width: 1px;">
                    <legend>用户查询</legend>
                    <div id="serchmsg"> 
                        <label>用户名:</label>
                        <input type="text" id="user_name" />&nbsp;
                        <label>手机号:</label>
                        <input type="text" id="mobile" />&nbsp;
                        <a href="javascript:void(0);" class="easyui-linkbutton" id="queryBtn" icon="icon-search">查询</a> &nbsp;
                    </div>
                </fieldset>
            </div>
            <div data-options="region:'center'">
                <table id="userTable" 
                    border="0" 
                    cellspacing="0" 
                    cellpadding="0" 
                    iconCls="icon-edit" 
                    width="100%" 
                    fit="true"
                    idField="id" 
                    pagination="true"
                    remoteSort="false" 
                    singleSelect="false" 
                    showFooter="false"
                    striped="true">
                    <thead>
                        <tr align="center">
                            <th data-options="field:'ck'" checkbox="false" width="20"></th>
                            <th data-options="field:'admin_id'">序号</th>
                            <th data-options="field:'admin_name'" >账号</th>
                            <th data-options="field:'admin_truename'">用户名</th>
                            <th data-options="field:'admin_mobile'">手机号码</th>
                            <th data-options="field:'admin_email'">邮件地址</th>
                            <th data-options="field:'admin_state'" formatter="formUserState" align="center">状态</th>
                            <th data-options="field:'admin_create_time'" formatter="formDatetime" align="center">创建时间</th>
                            <th data-options="field:'admin_login_time'" formatter="formDatetime" align="center">登录时间</th>
                            <th data-options="field:'operation'" formatter="formUserOperation" >操作</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </body> 
</html>
