<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <title>报名</title>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
    </head>
    <body>
        <div class="jxsctk nomargin">
            <ul>
                <li class="tp"><img src="UPLOADS_SITE_URL/<{$Think.const.ATTACH_CLASS}>/<{$class_info.class_image}>" width="119" height="95" /></li>
                <li>
                    <p class="bt"><{$class_info.class_title}></p>
                    <p class="zjs">第一章节</p>
                    <p class="jss"><{$class_info.class_teacher}></p>
                    <p class="je">￥<{$class_info.class_price|glzh_price_format}></p>
                </li>
            </ul>
        </div>
        <form name="joinForm" id="applyForm" action="__SELF__" method="post">
            <input type="hidden" name="id" value="<{$class_info.class_id}>" />
            <div class="ml">
                <p class="xm">
                    <span>姓&nbsp;&nbsp;&nbsp;名：</span>
                    <input type="text" name="username" value="<{$user_info.user_truename}>" maxlength="20" />
                </p>
                <p class="sjh">
                    <span>手机号：</span>
                    <input type="tel" name="mobile" value="<{$user_info.user_mobile}>" maxlength="11" />
                </p>
            </div>
            <a href="#" class="qr btn-pay">确认</a>
        </form>
    <script>
        function onBridgeReady() {
            WeixinJSBridge.call('hideOptionMenu');
        }
        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
    </script>
    <script src="RESOURCE_SITE_URL/vendor/jquery/jquery.min.js"></script>
    <script src="RESOURCE_SITE_URL/js/utils.js"></script>
    <script>
        $('.btn-pay').click(function () {
            var t = $(this);
            if (t.is('.disabled')) {
                return false;
            }

            var username = $(':input[name="username"]').val();
            if ($.trim(username) == '') {
                alert('请输入姓名');return false;
            }
            var mobile = $(':input[name="mobile"]').val();
            if ($.trim(mobile) == '') {
                alert('请输入手机号');return false;
            }
            if (!/^1\d{10}$/.test(mobile)) {
                alert('请输入正确的手机号');return false;
            }
//                var wechat_id = $(':input[name="wechat_id"]').val();
//                if (!/^[_\-a-zA-Z0-9]{6,20}$/.test(wechat_id)) {
//                    
//                }
            t.addClass('disabled');
            $('#applyForm').submit();
        });
    </script>
</body>
</html>
