<!DOCTYPE html>
<html>
    <head>
        <title>我的课程</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
    </head>
<body>
    <notempty name="apply_list">
    <volist name="apply_list" id="apply">
    <div class="jxsctk">
    	<ul>
            <li class="tp">
                <a href="/class/<{$apply.class_id}>.html">
                    <img src="UPLOADS_SITE_URL/<{$Think.const.ATTACH_CLASS}>/<{$apply.class_info.class_image}>" width="119" height="95" />
                </a>
            </li>
            <li>
                <a href="/class/<{$apply.class_id}>.html">
                    <p class="bt"><{$apply.class_info.class_title}></p>
                    <p class="zjs">共10章节</p>
                    <p class="jss"><{$apply.class_info.teacher_name}></p>
                    <p class="je">￥<{$apply.apply_amount}></p>
                </a>
            </li>
            <li class="qtk"><a class="btn btn-block btn-orange" href="/chapter/classList?class_id=<{$apply.class_id}>">去听课</a></li>
        </ul>
    </div>
    </volist>
    <else/>
    <div class="wucon"><img src="RESOURCE_SITE_URL/mobile/images/wkcbg.jpg" width="99" height="77" /></div>
    <p class="wukc">暂无课程</p>
    </notempty>
    <include file="Public/footer" />
    <script type="text/javascript" src="RESOURCE_SITE_URL/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="RESOURCE_SITE_URL/mobile/js/wechat.js"></script>
    <script type="text/javascript" src="RESOURCE_SITE_URL/mobile/js/media.js"></script>
    <script>
        $(function(){
            $.wechat.init(function(){
                wx.hideOptionMenu();
            });
        })
    </script>
</body>
</html>














