<!DOCTYPE html>
<html>
    <head>
        <title>我的粉丝</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
    </head>
    <body style="background: #fff">
    <notempty name="user_list">
        <div class="m-fans">
            <h3 class="fans-hd">共<{$count}>个粉丝</h3>
            <ul class="fans-list">
                <volist name="user_list" id="user">
                    <li class="gezi">
                        <p><img src="<{$user.user_avatar|getMemberAvatar}>" width="58" height="58" /></p>
                        <span><{$user.user_nickname}></span>
                    </li>
                </volist>
            </ul>
        </div>
        <else/>
        <div class="wucon"><img src="RESOURCE_SITE_URL/mobile/images/wfsbg.jpg" width="99" height="77" /></div>
        <p class="wukc">暂无粉丝</p>
    </notempty>
    <include file="Public/footer" />
    <script type="text/javascript" src="RESOURCE_SITE_URL/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="RESOURCE_SITE_URL/mobile/js/wechat.js"></script>
    <script type="text/javascript" src="RESOURCE_SITE_URL/mobile/js/media.js"></script>
    <script>
        $(function(){
            $.wechat.init(function(){
                wx.hideOptionMenu();
            });
        })
    </script>
</body>
</html>
