<!DOCTYPE html>
<html>
    <head>
        <title>会员中心</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
        <script src="RESOURCE_SITE_URL/js/jquery.min.js"></script>
    </head>

    <body>
        <div class="hyzx-top">
            <p class="hytx"><img src="<{$user_info.user_avatar|getMemberAvatar}>" width="96" height="96" /></p>
            <p class="hyxm"><{$user_info.user_nickname}></p>
            <ul>
                <li class="hyfs"><a href="/my/fans.html">我的粉丝：<{$user_info.fans_num}></a></li>
                <li class="hyje"><a href="/predeposit/">总金额：<{$user_info.total_predeposit|glzh_price_format}></a></li>
            </ul>
        </div>
        <!--听课历史记录-->
        <notempty name="history_info">
        <div class="jxsctk">
            <ul>
                <li class="tp"><img src="UPLOADS_SITE_URL/<{$history_info.chapter_info.cover_img_url}>" width="93" height="74" /></li>
                <li>
                    <p class="bt"><{$history_info.chapter_info.chapter_title}></p>
                    <p class="js"><{$history_info.chapter_info.teacher_name}></p>
                </li>
                <li class="anniu"><a href="/class/<{$history_info.class_id}>/<{$history_info.chapter_id}>.html">继续听课</a></li>
            </ul>
        </div>
        </notempty>
        <div class="hyzxcd">
            <p><a href="/my/order.html">我的订单<img src="RESOURCE_SITE_URL/mobile/images/dd-bg.jpg" width="21" height="21" /></a></p>
            <p><a href="/my/course.html">我的课程<img src="RESOURCE_SITE_URL/mobile/images/kc-bg.jpg" width="21" height="21" /></a></p>
            <neq name="user_info.parent_id" value="0">
            <p><a href="/my/parent.html">大东家<img src="RESOURCE_SITE_URL/mobile/images/dj-bg.jpg" width="21" height="21" /></a></p>
            </neq>
            <p><a href="/my/fans.html">粉丝<img src="RESOURCE_SITE_URL/mobile/images/fs-bg.jpg" width="21" height="21" /></a></p>
            <p><a href="/predeposit/">账单明细<img src="RESOURCE_SITE_URL/mobile/images/zd-bg.jpg" width="21" height="21" /></a></p>
        </div>
        <include file="Public/footer" />
</body>
</html>














