<!DOCTYPE html>
<html>
    <head>
        <title>大东家</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
    </head>
<body class="bg">

    <div class="beij">
        <div class="ddj"><img src="<{$parent_info.user_avatar|getMemberAvatar}>" width="100%"/></div>
    <p class="ddjxm">大东家：<{$parent_info['user_nickname']}></p>
    </div>
    

</body>
</html>














