<!DOCTYPE html>
<html>
    <head>
        <title>推荐人</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
    </head>
    <body class="bg">
        <div class="beij">
            <div class="ddj"><img src="<{$parent_info.user_avatar|getMemberAvatar}>" width="100%" /></div>
            <p class="ddjxm">推荐人：<{$parent_info['user_nickname']}></p>
        </div>
        <script type="text/javascript" src="RESOURCE_SITE_URL/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/mobile/js/wechat.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/mobile/js/media.js"></script>
        <script>
            $(function () {
                $.wechat.init(function () {
                    wx.hideOptionMenu();
                });
            })
        </script>
    </body>
</html>
