<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <title>售后服务</title>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
    </head>
    <body>
        <div class="box">
            <p class="span">联系人</p>
            <p>陈春玲</p>
            <p class="span">联系方式</p>
            <p>电    话：13584410144</p>
            <p>微    信：chencl810</p>
            <p>邮    箱：chencl@guanlizhihui.com</p>
            <p>二维码：微信扫一扫，立即添加</p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/keewm.jpg" width="140" height="140" /></p>
        </div>

    </body>

    <script type="text/javascript" src="RESOURCE_SITE_URL/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="RESOURCE_SITE_URL/js/wxfenxiang.js"></script>
    <script type="text/javascript">
        var link = "";
        var shareData = {
            title:  '售后服务',
            image:  'RESOURCE_SITE_URL/image/kf.jpg',
//            link:   '<{$Think.config.MEDIA_SITE_URL}>/',
            desc:   '我们将竭尽全力为您提供最满意的服务！'
        };

        $.ajax({
            url: '<{$Think.config.MEDIA_SITE_URL}>/wechat/getJsSign',
            type: 'GET',
            data: {
                url: encodeURIComponent(window.location.href)
            },
            dataType: 'jsonp',
            jsonp: 'callback',
            success: function(res){
                WXFX_GLZ.init({
                    appid: res.data.appId,
                    nonceStr: res.data.nonceStr,
                    signature: res.data.signature,
                    timestamp: res.data.timestamp,
                    infoTitle: shareData.title,
                    infoImgUrl: shareData.image,
                    infoDesc: shareData.desc,
                    xurl: shareData.link
                });
            }

        });
    </script>
</html>














