<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <title>新手指南</title>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
    </head>
    <body>
        <div class="xszn_title">
            <p>新手指南——快速了解操作流程</p>
            <span>拇指微课&nbsp;&nbsp;&nbsp;<span class="rq">2016-05-25</span></span>
        </div>
        <div class="xszn_detail">
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_1.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_2.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_3.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_4.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_5.jpg" alt="" /></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_6.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_7.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_8.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_9.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_10.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_11.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_12.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_13.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_14.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_15.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_16.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_17.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_18.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_19.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_20.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_21.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_22.jpg" alt=""/></p>
            <p><img src="RESOURCE_SITE_URL/mobile/images/grey.gif" data-original="RESOURCE_SITE_URL/mobile/images/manual_23.jpg" alt=""/></p>
        </div>
        <include file="Public/footer" />
        <script type="text/javascript" src="RESOURCE_SITE_URL/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/vendor/jquery/jquery.lazyload.min.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/mobile/js/wechat.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/mobile/js/media.js"></script>
        <script type="text/javascript">
            // 图片延迟加载
            $('.xszn_detail img').lazyload();
            
            $.wechat.init(function () {
                var shareData = {
                    title: '新手指南',
                    imgUrl: 'RESOURCE_SITE_URL/image/k1.jpg',
                    link: '<{$Think.config.MEDIA_SITE_URL}>/manual.html?seller=<{$Think.session.user_id}>',
                    desc: '新手指南——快速了解操作流程！'
                };
                wx.showOptionMenu();
                wx.hideMenuItems([
                    'menuItem:share:qq',
                    'menuItem:share:weiboApp',
                    'menuItem:share:QZone',
                    'menuItem:copyUrl',
                    'menuItem:openWithSafari',
                    'menuItem:openWithQQBrowser'
                ]);
                wx.onMenuShareAppMessage(shareData);
                wx.onMenuShareTimeline(shareData);
            });
        </script>
    </body>
</html>














