<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <title>模板通用详情页</title>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
    </head>
    <body>
        <article class="article">
            <h1><span style="color:#F00;">你知道</span>——就能开启您移动互联网就能开启您移动互联网的财富之路吗？</h1>
            <section>
                <h2><span style="color:#F00;">三级分销模式说明</span></h2>
                <section>
                    <p>就能开启您移动互联网就能开启您移动互联网的财富之路吗就能开启您移动互联网就能开启您移动互联网的财富之路吗就能开启您移动互联网就能开启您移动互联网的财富之路吗就能开启您移动互联网就能开启您移动互联网的财富之路吗</p>
                    <p>
                        <img src="RESOURCE_SITE_URL/mobile/images/fxgz.jpg" alt="">
                    </p>
                </section>
                <h2><span style="color: #F00;">推广</span></h2>
                <section>
                    <h3><span style="color: #F00;">1.关注</span></h3>
                    <p>就能开启您移动互联网就能开启您移动互联网的财富之路吗就能开启您移动互联网就能开启您移动互联网的财富之路吗</p>
                    <h3><span style="color: #F00;">2.关注</span></h3>
                    <p>就能开启您移动互联网就能开启您移动互联网的财富之路吗就能开启您移动互联网就能开启您移动互联网的财富之路吗</p>
                </section>
                <h2><span style="color: #162082;">特别提示</span></h2>
                <section>
                    <p style="color: #162082;">就能开启您移动互联网就能开启您移动互联网的财富之路吗就能开启您移动互联网就能开启您移动互联网的财富之路吗</p>
                </section>
                <section>
                    <p>若还有疑问，请致客服电话，010-62569845</p>
                </section>
            </section>
        </article>
    </body>
</html>














