<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <title>我要合作</title>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
    </head>
    <body>
        <ul class="hezuo">
            <li><a href="javascript:void(0);" onclick="window.location.href='/coopera/teachar'" ><img src="RESOURCE_SITE_URL/coopera/image/wsjs.jpg" width="100%"/></a></li>
            <li><a href="javascript:void(0);" onclick="window.location.href='/coopera/system'" ><img src="RESOURCE_SITE_URL/coopera/image/wxykc.jpg" width="100%"/></a></li>
            <li><a href="javascript:void(0);" onclick="window.location.href='/coopera/wechat'"><img src="RESOURCE_SITE_URL/coopera/image/wygzh.jpg" width="100%"/></a></li>
        </ul>
        <include file="Public/footer" />
    </body>
</html>
