<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <title>我有公众号</title>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
    </head>
    <body class="bgg">
        <div><img src="RESOURCE_SITE_URL/coopera/image/ygzh-bg.jpg" width="100%"/></div>
        <div class="lianjie">
            <P class="p2">您的专属链接</P>
            <div class="p3"><{$Think.config.MEDIA_SITE_URL}>/?seller=<{$Think.session.user_id}></div>
        </div>
        <div class="lianjie">
            <P class="p2">操作说明</P>
            <div class="p3">
                <p>1. 长按复制上方的专属链接；</p>
                <p>2. 放置到您的公众号中（如：阅读原文、公众号菜单、关键字回复）</p>
                <p>3. 您将获得通过该链接购买课程金额的40%-70%提成!</p>
                <p>4. 点击个人中心可直接提现</p>
            </div>
        </div>
        <div class="lianjie lianjie2">
            <P class="p2">联系我们</P>
            <div class="p3 p5">
                <p class="p4"><img src="RESOURCE_SITE_URL/coopera/image/gzhewm.jpg" width="158"/></p>
                <p class="tishi">请长按扫描二维码与负责人沟通</p>
            </div>
        </div>
 
        <script type="text/javascript" src="RESOURCE_SITE_URL/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/mobile/js/wechat.js"></script>
        <script>
            $(function(){
                $.wechat.init(function(){
                    wx.hideOptionMenu();
                });
            })
        </script>  
    </body>
</html>
