<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>课程章节</title>
    <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
</head>

<body>

    <div class="jxsctk">
        <ul>
            <li class="tp"><img src="images/sctkt.jpg" width="93" height="74" /></li>
            <li>
                <p class="bt">硬邦邦的案列会说话</p>
                <p class="zj">第一章节</p>
                <p class="js">智军</p>
            </li>
            <li class="anniu"><a href="#">去听课</a></li>
        </ul>
    </div>

    <div class="jxsctk">
        <ul>
            <li class="tp"><img src="images/sctkt.jpg" width="93" height="74" /></li>
            <li>
                <p class="bt">硬邦邦的案列会说话</p>
                <p class="zj">第二章节</p>
                <p class="js">智军</p>
            </li>
            <li class="anniu"><a href="#">去听课</a></li>
        </ul>
    </div>

    <div class="jxsctk">
        <ul>
            <li class="tp"><img src="images/sctkt.jpg" width="93" height="74" /></li>
            <li>
                <p class="bt">硬邦邦的案列会说话</p>
                <p class="zj">第三章节</p>
                <p class="js">智军</p>
            </li>
            <li class="anniu"><a href="#">去听课</a></li>
        </ul>
    </div>

    <ul class="footer guding">
        <li><a href="#">首页</a></li>
        <li class="margin"><a href="#">会员中心</a></li>
        <li><a href="#">帮助</a></li>
    </ul>
</body>
</html>
