<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title><{$title}>课程章节</title>
    <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />

</head>

<body>

    <foreach name="list" item="vo">
        <div class="jxsctk">
            <ul>
                <li class="tp"><img src="UPLOADS_SITE_URL/<{$vo.cover_img_url}>" width="93" height="74" /></li>
                <li>
                    <p class="bt"><{$vo.chapter_title}></p>
                    <!--<p class="zj"><{$vo.chapter_title}></p>-->
                    <p class="js"><{$vo.teacher_name}></p>
                </li>
                <li class="anniu">
                    <a href="/class/<{$vo.class_id}>/<{$vo.chapter_id}>.html">去听课</a>
                </li>
            </ul>
        </div>
    </foreach>
    <include file="Public/footer" />
    <script type="text/javascript" src="RESOURCE_SITE_URL/js/jquery.min.js"></script>
    <script type="text/javascript" src="RESOURCE_SITE_URL/mobile/js/wechat.js"></script>
    <script type="text/javascript" src="RESOURCE_SITE_URL/mobile/js/media.js"></script>
    <script>
        $.wechat.init(function(){
            var shareData = {
                title: '',
                link: '',
                imgUrl: '',
                desc: '',
            };
            wx.showOptionMenu();
            wx.hideMenuItems({
                menuList: [
                    'menuItem:share:qq',
                    'menuItem:share:weiboApp',
                    'menuItem:share:QZone',
                    'menuItem:copyUrl',
                    'menuItem:openWithSafari',
                    'menuItem:openWithQQBrowser'
                ]
            });
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareTimeline(shareData);
        });
    </script>
</body>
</html>
