<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <title><{$article.article_title}></title>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
    </head>
    <body>
        <article class="article">
            <div class="hd">
                <h1><{$article.article_title}></h1>
                <div class="meta">
                    <span>拇指微课</span>
                    <time><{$article.article_time|date="Y-m-d", ###}></time>
                </div>
            </div>
            <div class="bd">
                <{$article.article_content}>
            </div>
        </article>
        <script type="text/javascript" src="RESOURCE_SITE_URL/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/mobile/js/wechat.js"></script>
        <script type="text/javascript" src="RESOURCE_SITE_URL/mobile/js/media.js"></script>
        <script>
            // 微信
            $.wechat.init(function(){
                var shareData = {
                    title: '<{$article.article_title}>',
                    desc: '<{$article.article_title}>',
                    imgUrl: 'UPLOADS_SITE_URL/article/<{$article.article_image}>',
                };
                wx.showOptionMenu();
                wx.onMenuShareAppMessage(shareData);
                wx.onMenuShareTimeline(shareData);
                wx.onMenuShareQQ(shareData);
                wx.onMenuShareWeibo(shareData);
                wx.onMenuShareQZone(shareData);
            });
        </script>
    </body>
</html>
