<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <title>报名成功</title>
        <link rel="stylesheet" href="RESOURCE_SITE_URL/mobile/css/index.css" />
        <script src="RESOURCE_SITE_URL/js/jquery.min.js"></script>
    </head>
    <body>
        <div class="tixian">
            <p><img src="RESOURCE_SITE_URL/mobile/images/dui.jpg" width="65" height="65" /></p>
            <p class="hei">恭喜您，已购买成功</p>
            <div class="action">
            <a class="btn btn-block btn-blue" href="javascript:;" data-link="/chapter/classList?class_id=<{$order_info.class_id}>">去听课</a>
            <a class="btn btn-block btn-gray" href="javascript:;" data-link="/">返回课程列表</a>
            </div>
        <div>
        

<!--        <ul class="footer guding">
            <li><a href="#">首页</a></li>
            <li class="margin"><a href="#">会员中心</a></li>
            <li><a href="#">帮助</a></li>
        </ul>-->
        <script src="RESOURCE_SITE_URL/js/jquery.min.js"></script>
        <script>
            // js跳转链接 
            $().ready(function(){
                $('body').delegate('a[data-link]', 'click', function(){
                    var link = $(this).data('link');
                    window.location.replace(link);
                })
            });
        </script>
    </body>
</html>